/* Se limpio el css, dejando únicamente el código que se va a utilizar*/

html {
  font-size: 62.5%;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  line-height: 1.5;
  background-color: pink; /* Este color será visible si la imagen no se carga */
  background-image: url("../img/totoro.jpg");
  background-size: cover; /* Hace que la imagen cubra todo el área */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* La imagen permanece fija al hacer scroll */
  margin: 0; /* Elimina márgenes alrededor del body */
  height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
  padding-top: 110px;
}

.card {
  background: white;
  border-radius: 10px;
  max-width: 300px;
  margin: 2rem auto;
  padding: 1.5rem;
  text-align: center;
}

.card-header {
  background-color: #181934;
  color: white;
  padding: 1rem;
  border-radius: 10px;
}

.card-body {
  padding: 10px 0 0 0;
}

.name {
  font-size: 2.5rem;
  margin: 0;
}

.blog, .location {
  font-size: 1.6rem;
  margin: 0.5rem 0;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.search-box {
  display: flex;
  flex-direction: column; /* Dejar la dirección en columna para que los elementos se ubiquen de arriba a abajo */
  align-items: center; /* Centrar los elementos horizontalmente */
  margin: 2rem auto;
}

#username {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px; /* Añade espacio entre el campo de texto y el botón */
  text-align: center;
}

#searchButton {
  padding: 10px;
  font-size: 16px;
  background-color: #181934;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Añade una transición suave */
  border-radius: 5px;
}

#searchButton:hover {
  background-color: #10123f;
  transform: scale(1.05); /* Le da un efecto de agrandarse un poco */
}

:focus {
  outline-color: #181934;
}
